@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
* 
{
    box-sizing: border-box;
}

body {
    
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: rgb(190, 171, 136);
}

.harry-title {
    font-size: 35px;
    text-align: center;
    flex-grow: 1;
    font-family:'Times New Roman', Times, serif;
    color: #9c2b19;
    font-family: "Cinzel", serif;
    

}

.search {
    background-color: transparent;
    border: 1px solid;
    padding: 5px 8px;
    border-radius: 30px;
    font-size: 1rem;
    justify-content: flex-end;
}

.search:focus {
    outline: 0;
}

.search::placeholder {
    color: whitesmoke;
}

main {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: transparent;
}

.card {
    width: 300px;
    margin: 1.5rem;
    /* border:1px solid; */
    overflow: hidden;
    cursor: pointer;
    /* box-shadow:0 4px 8px 0 rgba(0,0,0,1); */

}

.card-inner {
    position: relative;
    width: 100%;
    height: 500px;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in;
    border-radius: 20px;


}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
    border: 10px solid #3C231B ;
}

.front {
    backface-visibility: hidden;
    background-color: #3C231B;
    text-align: center;
    line-height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.back {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    line-height: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.back h2{
    text-decoration: underline;
}

.character-info {
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding-top: 0.5 rem;
}

.character-info h3 {
    margin-top: 0;
}

.card img {
    width: 100%;
    height: 90%;
}

.hide {
    display: none;
}